@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.contenedor{
    margin-top: 20px; 
    display: flex;
    flex-direction: column;
    position: relative;
}

@keyframes floating {
    0% {
      transform: translateY(0px);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0px);
    }
  }
  
  .contenedor {
    animation: floating 4s ease-in-out infinite;
}

.carta{
    width: 215px;
    height: 600px;
    padding: 0 15px;
    position: absolute;
    margin-top: 42px;
    margin-left: 18px;
}

.info{
    color: rgb(0, 0, 0);
    font-family: 'Silkscreen', cursive;
    text-align: start;
    margin-top: 0px;
    font-size: 12px;
    line-height: 1;
}

.decoration{
    text-decoration: none;
}

.info:hover{
    color: rgba(91, 92, 90, 0.863);
}

.imagenesC{
    margin: 0 0 0 0;
    width: 275px;
    height: 525px;
}
