.contenedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 80px;
    padding: 0 50px;
 }

 /* body{
    background-image: url(/src/img/wallpaperbetter.com_1920x1080\ \(1\).jpg);
 } */
