@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.contenedor{
    border-radius: 20px;
    background-color: #9CFE45;
    border: solid #EAE2D8 10px;
    width: 250px;
}

.container{
    display: flex;
    justify-content: space-between
}

.fav{
    align-self: flex-start;
    background-color: #9CFE45;
    font-size: 20px;
    border: none;
}

.button{
    color: white;
    align-self: flex-start;
    background-color: red;
    border: solid black 2px;
    border-radius: 25px;
    font-size: 15px;
    font-weight: bold;
    margin: 5px 0 0 5px;
}

.carta{
    margin: 15px 0 0 0;
    width: 200px;
    height: 425px;
    padding: 0 20px;
}

.info{
    color: rgb(0, 0, 0);
    font-family: 'Silkscreen', cursive;
    text-align: start;
    margin-top: 20px;
    font-size: 12px;
    line-height: 1;
}



.decoration{
    text-decoration: none;
}

.info:hover{
    color: gray;
}

.imagenes{
    margin-left: -5px;
    width: 220px;
    height: 220px;
    border-radius: 20px;
}
